@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html body {
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    padding: 50px;
}

header h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte2);
}

header p {
    text-align: center;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 4vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
}

section.fundo {
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-attachment: fixed;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    
}

.fundo > p {
    display: inline-block;
    background-color: rgba(43, 43, 43, 0.575);
    padding: 35px;
    border-radius: 15px;
    text-shadow: 1px 1px 1px black;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}